<footer class="bg-white ">
  <div class="max-w-screen-2xl mx-auto py-6 px-4 sm:px-6 md:flex md:items-center md:justify-end">
    <div class="flex justify-center space-x-6 ">      
      <%#= link_to "Terms of Service", "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>
      <%#= link_to "Privacy Policy", "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>      
    </div>
    <div class="mt-8 md:mt-0 ml-4 flex justify-end">
      <p class="text-right text-gray-700 text-sm">
        &copy; <%= Date.current.year %> Built by Noah Zitsman
      </p>
    </div>
  </div>
</footer>